@page "/allergy-intolerances"
@attribute [Authorize(Roles = "ROLE_SYSTEM_ADMIN,ROLE_ORG_ADMIN,ROLE_PRACTITIONER")]
@inherits DMRS.Client.Components.LocalizedComponentBase
@using DMRS.Client.Features.AllergyIntolerances.Models
@inject DMRS.Client.Features.AllergyIntolerances.Services.AllergyIntoleranceFeatureService AllergyService

<PageTitle>@Loc["allergies.title"]</PageTitle>

<ResourceIndexPage TSummary="AllergyIntoleranceSummaryViewModel"
                   Title="@Loc["allergies.title"]"
                   NewLink="/allergy-intolerances/new"
                   NewLabel="@Loc["allergies.new"]"
                   EntityName="@Loc["allergies.entityName"]"
                   EmptyText="@Loc["allergies.empty"]"
                   SearchFields="SearchFieldList"
                   LoadDefault="cap => AllergyService.ListAsync(cap)"
                   Search="(p, v) => AllergyService.SearchAsync(p, v)">
    <HeaderTemplate>
        <th>@Loc["common.field.id"]</th>
        <th>@Loc["common.field.patient"]</th>
        <th>@Loc["common.field.code"]</th>
        <th>@Loc["common.field.status"]</th>
    </HeaderTemplate>
    <RowTemplate Context="allergy">
        <td><NavLink href="@($"/allergy-intolerances/{allergy.Id}")">@allergy.Id</NavLink></td>
        <td>@allergy.PatientId</td>
        <td>@allergy.CodeText</td>
        <td>@allergy.ClinicalStatus</td>
    </RowTemplate>
</ResourceIndexPage>

@code {
    private IReadOnlyList<SearchField> SearchFieldList =>
    [
        new("patient", Loc["common.field.patient"], Loc["allergies.search.patient.placeholder"]),
        new("code", Loc["common.field.code"], Loc["allergies.search.code.placeholder"]),
    ];
}
