@using DMRS.Client.Features.Organizations.Models
@inherits DMRS.Client.Components.LocalizedComponentBase

<EditForm Model="Model" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />

    <div class="row g-3">
        <div class="col-md-8">
            <label class="form-label">@Loc["common.field.organizationName"]</label>
            <InputText @bind-Value="Model.Name" class="form-control" />
            <ValidationMessage For="() => Model.Name" />
        </div>
        <div class="col-md-4">
            <label class="form-label">@Loc["common.field.alias"]</label>
            <InputText @bind-Value="Model.Alias" class="form-control" />
        </div>
        <div class="col-md-3 d-flex align-items-end">
            <div class="form-check">
                <InputCheckbox @bind-Value="Model.Active" class="form-check-input" />
                <label class="form-check-label">@Loc["common.field.active"]</label>
            </div>
        </div>
        <div class="col-md-5">
            <label class="form-label">@Loc["common.field.identifierSystem"]</label>
            <InputText @bind-Value="Model.IdentifierSystem" class="form-control" />
        </div>
        <div class="col-md-4">
            <label class="form-label">@Loc["common.field.identifierValue"]</label>
            <InputText @bind-Value="Model.IdentifierValue" class="form-control" />
        </div>
        <div class="col-md-6">
            <label class="form-label">@Loc["common.field.email"]</label>
            <InputText @bind-Value="Model.Email" class="form-control" />
            <ValidationMessage For="() => Model.Email" />
        </div>
        <div class="col-md-6">
            <label class="form-label">@Loc["common.field.phone"]</label>
            <InputText @bind-Value="Model.Phone" class="form-control" />
        </div>
        <div class="col-md-12">
            <label class="form-label">@Loc["common.field.addressLine"]</label>
            <InputText @bind-Value="Model.AddressLine" class="form-control" />
        </div>
        <div class="col-md-3">
            <label class="form-label">@Loc["common.field.city"]</label>
            <InputText @bind-Value="Model.City" class="form-control" />
        </div>
        <div class="col-md-3">
            <label class="form-label">@Loc["common.field.state"]</label>
            <InputText @bind-Value="Model.State" class="form-control" />
        </div>
        <div class="col-md-3">
            <label class="form-label">@Loc["common.field.postalCode"]</label>
            <InputText @bind-Value="Model.PostalCode" class="form-control" />
        </div>
        <div class="col-md-3">
            <label class="form-label">@Loc["common.field.country"]</label>
            <InputText @bind-Value="Model.Country" class="form-control" />
        </div>
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary" disabled="@IsBusy">@SubmitText</button>
    </div>
</EditForm>

@code {
    [Parameter, EditorRequired]
    public OrganizationEditModel Model { get; set; } = new();

    [Parameter]
    public string SubmitText { get; set; } = "Save Organization";

    [Parameter]
    public bool IsBusy { get; set; }

    [Parameter]
    public EventCallback OnSave { get; set; }

    private async Task OnSubmit()
    {
        await OnSave.InvokeAsync();
    }
}
