@page "/locations"
@attribute [Authorize(Roles = "ROLE_SYSTEM_ADMIN,ROLE_ORG_ADMIN,ROLE_PRACTITIONER")]
@inherits DMRS.Client.Components.LocalizedComponentBase
@using DMRS.Client.Features.Locations.Models
@inject DMRS.Client.Features.Locations.Services.LocationFeatureService LocationService

<PageTitle>@Loc["locations.title"]</PageTitle>

<ResourceIndexPage TSummary="LocationSummaryViewModel"
                   Title="@Loc["locations.title"]"
                   NewLink="/locations/new"
                   NewLabel="@Loc["locations.new"]"
                   EntityName="@Loc["locations.entityName"]"
                   EmptyText="@Loc["locations.empty"]"
                   SearchFields="SearchFieldList"
                   LoadDefault="cap => LocationService.ListAsync(cap)"
                   Search="(p, v) => LocationService.SearchAsync(p, v)">
    <HeaderTemplate>
        <th>@Loc["common.field.id"]</th>
        <th>@Loc["common.field.name"]</th>
        <th>@Loc["common.field.status"]</th>
        <th>@Loc["common.field.org"]</th>
    </HeaderTemplate>
    <RowTemplate Context="location">
        <td><NavLink href="@($"/locations/{location.Id}")">@location.Id</NavLink></td>
        <td>@location.Name</td>
        <td>@location.Status</td>
        <td>@location.ManagingOrganizationId</td>
    </RowTemplate>
</ResourceIndexPage>

@code {
    private IReadOnlyList<SearchField> SearchFieldList =>
    [
        new("name", Loc["common.field.name"], Loc["locations.search.name.placeholder"]),
        new("organization", Loc["patients.search.organization.label"], Loc["locations.search.organization.placeholder"]),
    ];
}
