@page "/service-requests"
@attribute [Authorize(Roles = "ROLE_SYSTEM_ADMIN,ROLE_ORG_ADMIN,ROLE_PRACTITIONER")]
@inherits DMRS.Client.Components.LocalizedComponentBase
@using DMRS.Client.Features.ServiceRequests.Models
@inject DMRS.Client.Features.ServiceRequests.Services.ServiceRequestFeatureService ServiceRequestService

<PageTitle>@Loc["serviceRequests.title"]</PageTitle>

<ResourceIndexPage TSummary="ServiceRequestSummaryViewModel"
                   Title="@Loc["serviceRequests.title"]"
                   NewLink="/service-requests/new"
                   NewLabel="@Loc["serviceRequests.new"]"
                   EntityName="@Loc["serviceRequests.entityName"]"
                   EmptyText="@Loc["serviceRequests.empty"]"
                   SearchFields="SearchFieldList"
                   LoadDefault="cap => ServiceRequestService.ListAsync(cap)"
                   Search="(p, v) => ServiceRequestService.SearchAsync(p, v)">
    <HeaderTemplate>
        <th>@Loc["common.field.id"]</th>
        <th>@Loc["common.field.patient"]</th>
        <th>@Loc["common.field.code"]</th>
        <th>@Loc["common.field.status"]</th>
        <th>@Loc["common.field.intent"]</th>
    </HeaderTemplate>
    <RowTemplate Context="request">
        <td><NavLink href="@($"/service-requests/{request.Id}")">@request.Id</NavLink></td>
        <td>@request.PatientId</td>
        <td>@request.CodeText</td>
        <td>@request.Status</td>
        <td>@request.Intent</td>
    </RowTemplate>
</ResourceIndexPage>

@code {
    private IReadOnlyList<SearchField> SearchFieldList =>
    [
        new("patient", Loc["common.field.patient"], Loc["serviceRequests.search.patient.placeholder"]),
        new("code", Loc["common.field.code"], Loc["serviceRequests.search.code.placeholder"]),
    ];
}
