@using DMRS.Client.Features.Patients.Models
@using DMRS.Shared.Constants
@inherits DMRS.Client.Components.LocalizedComponentBase

<EditForm Model="Model" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />

    <div class="row g-3">
        <div class="col-md-6">
            <label class="form-label">@Loc["common.field.givenName"]</label>
            <InputText @bind-Value="Model.GivenName" class="form-control" />
            <ValidationMessage For="() => Model.GivenName" />
        </div>
        <div class="col-md-6">
            <label class="form-label">@Loc["common.field.familyName"]</label>
            <InputText @bind-Value="Model.FamilyName" class="form-control" />
            <ValidationMessage For="() => Model.FamilyName" />
        </div>
        <div class="col-md-4">
            <label class="form-label">@Loc["common.field.gender"]</label>
            <InputSelect @bind-Value="Model.Gender" class="form-select">
                <option value="Unknown">@Loc["common.unknown"]</option>
                <option value="Male">@Loc["common.male"]</option>
                <option value="Female">@Loc["common.female"]</option>
                <option value="Other">@Loc["common.other"]</option>
            </InputSelect>
        </div>
        <div class="col-md-4">
            <label class="form-label">@Loc["common.field.birthDate"]</label>
            <InputDate @bind-Value="Model.BirthDate" class="form-control" />
            <ValidationMessage For="() => Model.BirthDate" />
        </div>
        <div class="col-md-4">
            <label class="form-label">@Loc["patients.form.cityLabel"]</label>
            <InputSelect @bind-Value="Model.City" class="form-select">
                <option value="">@Loc["patients.form.cityUnknown"]</option>
                @foreach (var gov in SyrianGovernorates.All)
                {
                    <option value="@gov.EnglishName">@GovernorateLabel(gov)</option>
                }
            </InputSelect>
            <div class="form-text">@Loc["patients.form.cityHint"]</div>
        </div>
        <div class="col-md-4">
            <label class="form-label">@Loc["common.field.identifierSystem"]</label>
            <InputSelect @bind-Value="Model.IdentifierSystem" class="form-select">
                <option value="@PatientIdentifierSystems.NationalId">@Loc["patients.form.identifierSystem.nationalId"]</option>
                <option value="@PatientIdentifierSystems.Passport">@Loc["patients.form.identifierSystem.passport"]</option>
            </InputSelect>
        </div>
        <div class="col-md-6">
            <label class="form-label">@Loc["common.field.identifierValue"]</label>
            <InputText @bind-Value="Model.IdentifierValue" class="form-control" />
        </div>
        @if (ShowOrganizationField)
        {
            <div class="col-md-6">
                <label class="form-label">@Loc["patients.form.orgIdLabel"]</label>
                <InputText @bind-Value="Model.ManagingOrganizationId" class="form-control" readonly="@OrganizationReadOnly" />
                <ValidationMessage For="() => Model.ManagingOrganizationId" />
                @if (OrganizationReadOnly)
                {
                    <div class="form-text">@Loc["patients.form.orgHint"]</div>
                }
            </div>
        }
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary" disabled="@IsBusy">@SubmitText</button>
    </div>
</EditForm>

@code {
    [Parameter, EditorRequired]
    public PatientEditModel Model { get; set; } = new();

    [Parameter]
    public string SubmitText { get; set; } = "Save Patient";

    [Parameter]
    public bool IsBusy { get; set; }

    [Parameter]
    public bool ShowOrganizationField { get; set; }

    [Parameter]
    public bool OrganizationReadOnly { get; set; }

    [Parameter]
    public EventCallback OnSave { get; set; }

    private string GovernorateLabel(SyrianGovernorate gov)
        => Loc.CurrentLanguage == "ar" ? gov.ArabicName : gov.EnglishName;

    private async Task OnSubmit()
    {
        await OnSave.InvokeAsync();
    }
}
