@page "/procedures"
@attribute [Authorize(Roles = "ROLE_SYSTEM_ADMIN,ROLE_ORG_ADMIN,ROLE_PRACTITIONER")]
@inherits DMRS.Client.Components.LocalizedComponentBase
@using DMRS.Client.Features.Procedures.Models
@inject DMRS.Client.Features.Procedures.Services.ProcedureFeatureService ProcedureService

<PageTitle>@Loc["procedures.title"]</PageTitle>

<ResourceIndexPage TSummary="ProcedureSummaryViewModel"
                   Title="@Loc["procedures.title"]"
                   NewLink="/procedures/new"
                   NewLabel="@Loc["procedures.new"]"
                   EntityName="@Loc["procedures.entityName"]"
                   EmptyText="@Loc["procedures.empty"]"
                   SearchFields="SearchFieldList"
                   LoadDefault="cap => ProcedureService.ListAsync(cap)"
                   Search="(p, v) => ProcedureService.SearchAsync(p, v)">
    <HeaderTemplate>
        <th>@Loc["common.field.id"]</th>
        <th>@Loc["common.field.patient"]</th>
        <th>@Loc["common.field.code"]</th>
        <th>@Loc["common.field.status"]</th>
    </HeaderTemplate>
    <RowTemplate Context="procedure">
        <td><NavLink href="@($"/procedures/{procedure.Id}")">@procedure.Id</NavLink></td>
        <td>@procedure.PatientId</td>
        <td>@procedure.CodeText</td>
        <td>@procedure.Status</td>
    </RowTemplate>
</ResourceIndexPage>

@code {
    private IReadOnlyList<SearchField> SearchFieldList =>
    [
        new("patient", Loc["common.field.patient"], Loc["procedures.search.patient.placeholder"]),
        new("code", Loc["common.field.code"], Loc["procedures.search.code.placeholder"]),
    ];
}
